header{
    display: flex;
    background-color: rgb(255, 130, 150);
    border-style: ridge;
    border-radius: 10px;;
    align-items: center;
}

nav{
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    align-content: space-between;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

h1{
    font-size: 300%;
}

.nav-title{
    margin-right: auto;
    margin-left: 50px;
}

nav li:hover{
    font-size: 115%;
    color: rgb(105, 0, 105);
}



