:root{
    --head-foot-color: rgb(255, 130, 150);
}


header{
    display: flex;
    background-color: var(--head-foot-color);
    border-style: ridge;
    color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    background-image: url("Ranch-3.jpg");
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 10px;
    border-style: ridge;
    align-content: space-between;
    background-color: black;
    color: white;
    border-width: 1px;


}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

h1{
    font-size: 250%;
}

nav li:hover{
    font-size: 115%;
    cursor: grab;
}

main h2{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

aside{
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    border: ridge;
    color: white;
    margin-bottom: 200px;
    margin-top: 50px;

}

.cards{
    display: flex;
    justify-content: space-evenly;
}

section{
    padding: 20px;
    border-style: double;
    margin:20px;
    color:black;
    border-radius: 10px;
    max-width: 40%;
}

section::first-line{
    text-decoration: underline;
    text-align: center;
}

footer{
    list-style: none;
    background-color: var(--head-foot-color);
    border-style: ridge;
    border-radius: 10px;
    bottom: 0;
    position:fixed;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    color: black;

}

footer li{
    display: flex;
}

footer ul{
    display: flex;
    justify-content: space-around;
}

.contact-me{
    padding-left: 50px;
}

/*smartphones - layout of body changed*/
@media screen and (max-width: 768px) {
    .cards{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
}
  
  @media screen and (max-width: 500px){
    nav li{
        display: flex;
        flex-direction: column;
    }
    footer ul{
        display: flex;
        flex-wrap: wrap;
    }

    footer li{
        padding: 5px;
    }
  }